#virtual-section {
  position: fixed;
  width: 100%;
  /* background-color: red; */
  opacity: 0.5;
  color: white;
  height: 100px;
  z-index: 10000;
  top: 0;
  transform: translateX(-50%);
  height: 100px;
  background-color: black;
  color: white;
  font-size: 18px;
  transition: top 0.3s ease;
  left: 50%;
  /* display: none; */
}
